* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
          text-size-adjust: auto;
}

body {
  width: 95%;
  color: white;
  background-color: #282828;
  margin-left: 5%;
}

body h3 {
  font-size: 2em;
  margin-bottom: 1em;
}

body p {
  margin-top: 0.6em;
}

body button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  cursor: pointer;
}

nav {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
  margin-left: -5vw;
  height: 100vh;
  width: 5vw;
  min-width: 50px;
  max-width: 90px;
  background-color: #874141;
  position: fixed;
  text-align: center;
}

nav .navDescription {
  position: absolute;
  opacity: 0;
}

nav #navbar {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #navbar ul a {
  width: 100%;
  text-decoration: none;
  color: white;
  height: 100%;
}

nav #navbar ul li {
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  background-color: #874141;
  font-size: 0.9em;
  height: 100%;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav #navbar ul li p {
  width: 30%;
}

nav #navbar ul li img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 2em;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

nav #navbar ul a:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  cursor: pointer;
}

nav:hover {
  max-width: 190px;
  width: 16%;
}

nav:hover .navDescription {
  position: static;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translate(30%);
          transform: translate(30%);
}

nav:hover img {
  margin-right: 0.8em;
  -webkit-transform: translate(30%);
          transform: translate(30%);
}

nav:hover p {
  margin-right: 0.6em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerContainer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2em;
}

header .headerContainer h2 {
  font-size: 1.7em;
  line-height: 1.2em;
}

header .headerContainer span {
  color: #874141;
  font-size: 1.2em;
}

header .headerContainer .titleSecondLine {
  color: white;
  font-size: 0.8em;
}

header .headerContainer p {
  font-size: 0.35em;
  line-height: 1.1em;
  font-weight: 10;
}

header .headerContainer .rightHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headerContainer .rightHeader .vincent-photo {
  width: 80%;
  max-width: 280px;
  min-width: 200px;
  border: 3px solid #874141;
  border-radius: 50%;
}

header .headerContainer .rightHeader .headerSocialButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  min-width: 140px;
  max-width: 170px;
  margin-top: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headerContainer .rightHeader .headerSocialButtons img {
  width: 100%;
}

header .headerContainer .rightHeader .headerSocialButtons a {
  width: 25%;
}

header .headerContainer .rightHeader .headerSocialButtons a button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: solid 1px #874141;
  border-radius: 0.5em;
  padding: 0.5em;
  width: 100%;
}

header .headerContainer .checkButton {
  border: none;
  padding: 0.9em 1.2em;
  margin-top: 2em;
  border: 1.5px solid #874141;
  background-color: transparent;
  color: white;
  position: relative;
  overflow: hidden;
  outline: none;
}

header .headerContainer .checkButton:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  cursor: pointer;
}

header .headerContainer .checkButton:hover .buttonBg {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

header .headerContainer .buttonBg {
  top: -2%;
  opacity: 0.3;
  right: 100%;
  width: 110%;
  height: 110%;
  z-index: -1;
  background-color: #874141;
  position: absolute;
  -webkit-transition: -webkit-transform ease-in 0.1s;
  transition: -webkit-transform ease-in 0.1s;
  transition: transform ease-in 0.1s;
  transition: transform ease-in 0.1s, -webkit-transform ease-in 0.1s;
}

@-webkit-keyframes arrowAnimation {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes arrowAnimation {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#downArrow {
  -webkit-animation: arrowAnimation 2s ease infinite;
          animation: arrowAnimation 2s ease infinite;
  margin-bottom: 1em;
}

main {
  margin-top: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  width: 70%;
  padding: 1.5em;
  background-color: #323232;
  border-radius: 0.7em;
  -webkit-box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.15);
          box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.15);
  margin: 8em 0;
  position: relative;
}

section h3 {
  font-size: 8em;
  position: absolute;
  z-index: -1;
  top: -21vh;
  color: #464646;
}

section .left {
  left: -6vw;
}

section .right {
  right: -6vw;
}

.skillsCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillsCards .skillsCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.skillsCards .skillsCard h4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.skillsCards .skillsCard .skills-list {
  background-color: #3c3c3c;
  padding: 1.5em 1em;
  border-radius: 1em;
  width: 100%;
}

.skillsCards .skillsCard .skills-list .skillRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.skillsCards .skillsCard .skills-list .skillRow li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.skillsCards .skillsCard .skills-list .skillRow .textBarContainer {
  width: 70%;
}

.skillsCards .skillsCard .skills-list .skillRow img {
  width: 30%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.skillsCards .skillsCard .skills-list .knowledge-bar {
  background-color: #874141;
  margin: 4% auto;
  width: 100%;
  min-height: 4px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px #282828;
          box-shadow: 1px 1px 1px #282828;
  position: relative;
  overflow: hidden;
}

.skillsCards .skillsCard .skills-list .skill-level {
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  position: absolute;
}

.skillsCards #coding-skills {
  width: 78%;
}

.skillsCards #coding-skills #html-level {
  left: 60%;
}

.skillsCards #coding-skills #css-level {
  left: 70%;
}

.skillsCards #coding-skills #js-level {
  left: 70%;
}

.skillsCards #coding-skills #git-level {
  left: 50%;
}

.skillsCards #coding-skills #react-level {
  left: 70%;
}

.skillsCards #coding-skills #express-level {
  left: 50%;
}

.skillsCards #coding-skills #mongodb-level {
  left: 30%;
}

.skillsCards #other-skills {
  width: 65%;
  margin-top: 0.6em;
}

.skillsCards #other-skills .skillRow {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skillsCards #other-skills #ps-level {
  left: 70%;
}

.skillsCards #other-skills #ai-level {
  left: 40%;
}

.skillsCards #other-skills #id-level {
  left: 50%;
}

#projectsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projectsSection .singleProject {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projectsSection .singleProject h4 {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#projectsSection .singleProject .singleProjectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0.5em 0;
  background-color: #3c3c3c;
  border-radius: 1em;
  padding: 1em;
}

#projectsSection .singleProject .singleProjectCard .projectImageContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projectsSection .singleProject .singleProjectCard .projectImageContainer .laptop {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#projectsSection .singleProject .singleProjectCard .projectImageContainer .smartphone {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}

#projectsSection .singleProject .singleProjectCard .textPart {
  margin-left: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

#projectsSection .singleProject .singleProjectCard .textPart a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projectsSection .singleProject .singleProjectCard .textPart button {
  border-radius: 2em;
  border: 2px solid #874141;
  background-color: transparent;
  padding: 0.2em;
  margin-top: 1em;
  width: 50%;
  color: white;
}

#projectsSection .singleProject .singleProjectCard .textPart button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  cursor: pointer;
}

#projectsSection .singleProject .singleProjectCard .textPart .technologies {
  text-align: center;
  font-weight: 10;
}

#contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#contactSection .errorMessage {
  font-size: 0.9em;
  font-weight: 500;
  -webkit-filter: drop-shadow(0.5px 0.5px 0.5px black);
          filter: drop-shadow(0.5px 0.5px 0.5px black);
}

#contactSection p {
  font-weight: 10;
  font-size: 1.1em;
}

#contactSection span {
  font-weight: 200;
  font-size: 2.5em;
}

#contactSection .contact-form {
  width: 90%;
}

#contactSection .contact-form form {
  margin: 1em 0;
  background-color: #3c3c3c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.8em;
}

#contactSection .contact-form form p {
  text-align: center;
  width: 75%;
}

#contactSection .contact-form form .formEntry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: 0.7em 0;
}

#contactSection .contact-form form .formEntry label {
  width: 100%;
}

#contactSection .contact-form form .formEntry input,
#contactSection .contact-form form .formEntry textarea {
  margin-top: 0.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.2em;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 0 1em;
  line-height: 40px;
  border: 0.3px solid rgba(230, 230, 230, 0.4);
  resize: none;
  outline: none;
}

#contactSection .contact-form form .buttonContainer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1em 0;
}

#contactSection .contact-form form .buttonContainer button {
  border-radius: 2em;
  border: 2px solid #874141;
  background-color: transparent;
  padding: 0.2em;
  width: 30%;
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 0.6em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerSocialButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  min-width: 120px;
  max-width: 170px;
  margin-top: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerSocialButtons img {
  width: 100%;
}

footer .footerSocialButtons a {
  width: 25%;
}

footer .footerSocialButtons a button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: solid 1px #874141;
  border-radius: 0.5em;
  padding: 0.5em;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  header .headerContainer {
    width: 80%;
  }
  header .headerContainer .rightHeader .vincent-photo {
    max-width: 150px;
  }
  header .headerContainer h2 {
    font-size: 1.4em;
  }
  nav:hover {
    width: 20%;
  }
  .skillRow {
    font-size: 0.8em;
  }
  .skillRow img {
    min-width: 40%;
  }
  .singleProject .pictureAtRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .singleProject .pictureAtRight div.textPart {
    margin-right: 1.5em;
  }
  .singleProject .pictureAtRight .smartphone {
    margin-top: 1em;
  }
  .singleProject .pictureAtRight img {
    margin-bottom: 1em;
  }
  .singleProject .pictureAtLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .singleProject .pictureAtLeft div.textPart {
    margin-right: 1.5em;
  }
  .singleProject .pictureAtLeft .smartphone {
    margin-top: 1em;
  }
  .singleProject .pictureAtLeft img {
    margin-bottom: 1em;
  }
  #contactSection p {
    font-size: 1em;
  }
  #contactSection p span {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    margin: 0;
  }
  html {
    width: 100vw;
  }
  nav {
    display: none;
  }
  header {
    height: 100vh;
  }
  header .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header h2 {
    margin-top: 1.4em;
  }
  header .vincent-photo {
    margin-bottom: -0.5em;
  }
  section {
    padding: 0.7em;
    margin: 6em 0;
    width: 80%;
  }
  section h3 {
    font-size: 5em;
    top: -13vh;
    padding: 0 0.2em;
  }
  .skillsCards .skills-list {
    min-width: 115%;
  }
  .skillsCards .skillRow {
    font-size: 0.7em;
  }
  .skillsCards .skillRow img {
    min-width: 60%;
  }
}
/*# sourceMappingURL=styles.css.map */