$generalColour: rgb(135, 65, 65);
$generalBgColor: rgb(40, 40, 40);
$secondaryBgColor: rgb(50, 50, 50);
$thirdBgColor: rgb(60, 60, 60);
$titlesColor: rgb(70, 70, 70);
$boxShadow: 1px 1px 3px rgba(200, 200, 200, 0.6);
$hoverBrightness: brightness(1.1);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: auto;
}

body {
  width: 95%;
  color: white;
  background-color: $generalBgColor;
  margin-left: 5%;
  h3 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  p {
    margin-top: 0.6em;
  }
  button:hover {
    filter: $hoverBrightness;
    cursor: pointer;
  }
}
// ---- NAV ----------------------------------------------
nav {
  transition: all 0.5s ease;
  z-index: 10;
  margin-left: -5vw;
  height: 100vh;
  width: 5vw;
  min-width: 50px;
  max-width: 90px;
  background-color: $generalColour;
  position: fixed;
  text-align: center;
  .navDescription {
    position: absolute;
    opacity: 0;
  }
  #navbar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      width: 100%;
      display: flex;
      height: 40%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      a {
        width: 100%;
        text-decoration: none;
        color: white;
        height: 100%;
      }
      li {
        transition: width 0.3s ease;
        background-color: $generalColour;
        font-size: 0.9em;
        height: 100%;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          width: 30%;
        }

        img {
          object-fit: contain;
          max-width: 2em;
          transition: transform ease 0.4s;
        }
      }
      a:hover {
        filter: $hoverBrightness;
        cursor: pointer;
      }
    }
  }
}

nav:hover {
  max-width: 190px;
  width: 16%;
  .navDescription {
    position: static;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.1s;
    transform: translate(30%);
  }
  img {
    margin-right: 0.8em;
    transform: translate(30%);
  }
  p {
    margin-right: 0.6em;
  }
}
// ---- header ----------------------------------------------

header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .headerContainer {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 2em;
    h2 {
      font-size: 1.7em;
      line-height: 1.2em;
    }
    span {
      color: $generalColour;
      font-size: 1.2em;
    }
    .titleSecondLine {
      color: white;
      font-size: 0.8em;
    }
    p {
      font-size: 0.35em;
      line-height: 1.1em;
      font-weight: 10;
    }
    .rightHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      justify-content: space-between;
      .vincent-photo {
        width: 80%;
        max-width: 280px;
        min-width: 200px;
        border: 3px solid $generalColour;
        border-radius: 50%;
      }
      .headerSocialButtons {
        display: flex;
        width: 45%;
        min-width: 140px;
        max-width: 170px;
        margin-top: 1em;
        justify-content: space-between;
        img {
          width: 100%;
        }
        a {
          width: 25%;
          button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            border: solid 1px $generalColour;
            border-radius: 0.5em;
            padding: 0.5em;
            width: 100%;
          }
        }
      }
    }
    .checkButton {
      border: none;
      padding: 0.9em 1.2em;
      margin-top: 2em;
      border: 1.5px solid $generalColour;
      background-color: transparent;
      color: white;
      position: relative;
      overflow: hidden;
      outline: none;
    }
    .checkButton:hover {
      filter: $hoverBrightness;
      cursor: pointer;
      .buttonBg {
        transform: translate(100%);
      }
    }
    .buttonBg {
      top: -2%;
      opacity: 0.3;
      right: 100%;
      width: 110%;
      height: 110%;
      z-index: -1;
      background-color: $generalColour;
      position: absolute;
      transition: transform ease-in 0.1s;
    }
  }
}

@keyframes arrowAnimation {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 20%);
  }
  100% {
    transform: translate(0);
  }
}

#downArrow {
  animation: arrowAnimation 2s ease infinite;
  margin-bottom: 1em;
}

// ---- SECTIONS ----------------------------------------------
// GENERAL SECTION CSS
main {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 70%;
  padding: 1.5em;
  background-color: $secondaryBgColor;
  border-radius: 0.7em;
  box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.15);
  margin: 8em 0;
  position: relative;
  h3 {
    font-size: 8em;
    position: absolute;
    z-index: -1;
    top: -21vh;
    color: $titlesColor;
  }
  .left {
    left: -6vw;
  }
  .right {
    right: -6vw;
  }
}

// ---- NAV ----------------------------------------------
// ---- SKILLS ----------------------------------------------

.skillsCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  .skillsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    h4 {
      align-self: flex-start;
    }
    .skills-list {
      background-color: $thirdBgColor;
      padding: 1.5em 1em;
      border-radius: 1em;
      width: 100%;
      .skillRow {
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        li {
          width: 25%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
        }
        .textBarContainer {
          width: 70%;
        }
        img {
          width: 30%;
          justify-self: center;
        }
      }
      .knowledge-bar {
        background-color: $generalColour;
        margin: 4% auto;
        width: 100%;
        min-height: 4px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px $generalBgColor;
        position: relative;
        overflow: hidden;
      }
      .skill-level {
        width: 100%;
        height: 100%;
        background-color: rgb(230, 230, 230);
        position: absolute;
      }
    }
  }

  #coding-skills {
    width: 78%;
    #html-level {
      left: 60%;
    }
    #css-level {
      left: 70%;
    }
    #js-level {
      left: 70%;
    }
    #git-level {
      left: 50%;
    }
    #react-level {
      left: 70%;
    }
    #express-level {
      left: 50%;
    }
    #mongodb-level {
      left: 30%;
    }
  }

  #other-skills {
    width: 65%;
    margin-top: 0.6em;
    .skillRow {
      justify-content: space-evenly;
    }
    #ps-level {
      left: 70%;
    }
    #ai-level {
      left: 40%;
    }
    #id-level {
      left: 50%;
    }
  }
}

// ---- projects ----------------------------------------------
#projectsSection {
  display: flex;
  flex-direction: column;
  .singleProject {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    h4 {
      width: 90%;
      align-self: center;
    }
    .singleProjectCard {
      display: flex;
      width: 90%;
      align-self: center;
      margin: 0.5em 0;
      background-color: $thirdBgColor;
      border-radius: 1em;
      padding: 1em;
      .projectImageContainer {
        width: 80%;
        display: flex;
        justify-content: center;
        .laptop {
          width: 100%;
          object-fit: contain;
        }
        .smartphone {
          width: 30%;
          object-fit: contain;
        }
      }
      .textPart {
        margin-left: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 0.5em;
        align-items: center;
        width: 90%;
        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        button {
          border-radius: 2em;
          border: 2px solid $generalColour;
          background-color: transparent;
          padding: 0.2em;
          margin-top: 1em;
          width: 50%;
          color: white;
        }
        button:hover {
          filter: $hoverBrightness;
          cursor: pointer;
        }
        .technologies {
          text-align: center;
          font-weight: 10;
        }
      }
    }
  }
}
// ----Experience ----------------------------------------------

// ---- Contact ----------------------------------------------
#contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .errorMessage {
    font-size: 0.9em;
    font-weight: 500;
    filter: drop-shadow(0.5px 0.5px 0.5px black);
  }
  p {
    font-weight: 10;
    font-size: 1.1em;
  }
  span {
    font-weight: 200;
    font-size: 2.5em;
  }
  .contact-form {
    width: 90%;
    form {
      margin: 1em 0;
      background-color: $thirdBgColor;
      justify-content: center;
      align-items: center;
      text-align: left;
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      padding: 0.8em;
      p {
        text-align: center;
        width: 75%;
      }
      .formEntry {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0.7em 0;
        label {
          width: 100%;
        }
        input,
        textarea {
          margin-top: 0.2em;
          box-sizing: border-box;
          border-radius: 0.2em;
          width: 100%;
          background-color: transparent;
          color: white;
          padding: 0 1em;
          line-height: 40px;
          border: 0.3px solid rgba(230, 230, 230, 0.4);
          resize: none;
          outline: none;
        }
      }
      .buttonContainer {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        margin: 1em 0;
        button {
          border-radius: 2em;
          border: 2px solid $generalColour;
          background-color: transparent;
          padding: 0.2em;
          width: 30%;
          color: white;
        }
      }
    }
  }
}

// ---- footer ----------------------------------------------
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.6em;
  justify-content: space-around;
  align-items: center;
  .footerSocialButtons {
    display: flex;
    width: 10%;
    min-width: 120px;
    max-width: 170px;
    margin-top: 1em;
    justify-content: space-between;
    img {
      width: 100%;
    }
    a {
      width: 25%;
      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: solid 1px $generalColour;
        border-radius: 0.5em;
        padding: 0.5em;
        width: 100%;
      }
    }
  }
}

// -------- MEDIA QUERIES

@media screen and (max-width: 1200px) {
  header {
    .headerContainer {
      width: 80%;
      .rightHeader {
        .vincent-photo {
          max-width: 150px;
        }
      }
      h2 {
        font-size: 1.4em;
      }
    }
  }
  nav:hover {
    width: 20%;
  }

  .skillRow {
    font-size: 0.8em;
    img {
      min-width: 40%;
    }
  }
  .singleProject {
    .pictureAtRight {
      flex-direction: column-reverse;
      align-items: center;
      div.textPart {
        margin-right: 1.5em;
      }
      .smartphone {
        margin-top: 1em;
      }
      img {
        margin-bottom: 1em;
      }
    }
    .pictureAtLeft {
      flex-direction: column;
      align-items: center;
      div.textPart {
        margin-right: 1.5em;
      }
      .smartphone {
        margin-top: 1em;
      }
      img {
        margin-bottom: 1em;
      }
    }
  }

  #contactSection {
    p {
      font-size: 1em;
      span {
        font-size: 2.3em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    margin: 0;
  }
  html {
    width: 100vw;
  }
  nav {
    display: none;
  }
  header {
    height: 100vh;
    .headerContainer {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
    h2 {
      margin-top: 1.4em;
    }
    .vincent-photo {
      margin-bottom: -0.5em;
    }
  }
  section {
    padding: 0.7em;
    margin: 6em 0;
    width: 80%;
    h3 {
      font-size: 5em;
      top: -13vh;
      padding: 0 0.2em;
    }
  }

  .skillsCards {
    .skills-list {
      min-width: 115%;
    }
    .skillRow {
      font-size: 0.7em;
      img {
        min-width: 60%;
      }
    }
  }
}
